In [1]:
import pandas as pd
import numpy as np
import requests

In [ ]:
#importing countries.
countries_url = "https://api.worldbank.org/countries?format=json&per_page=300"
response = requests.get(countries_url)
response.status_code

200

In [3]:
data = response.json()
print(data[0])
print(len(data))

# 1-meta data
# 2-actual data

{'page': 1, 'pages': 1, 'per_page': '300', 'total': 296}
2

In [4]:
countries = data[1]
countries = pd.DataFrame(countries)

In [5]:
countries

,id,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,"{'id': 'LCN', 'iso2code': 'ZJ', 'value': 'Lati...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'HIC', 'iso2code': 'XD', 'value': 'High...","{'id': 'LNX', 'iso2code': 'XX', 'value': 'Not ...",Oranjestad,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
2,AFG,AF,Afghanistan,"{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Kabul,69.1761,34.5228
3,AFR,A9,Africa,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
4,AFW,ZI,Africa Western and Central,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
...,...,...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,"{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': ''}","{'id': 'NA', 'iso2code': 'NA', 'value': 'Aggre...","{'id': '', 'iso2code': '', 'value': 'Aggregates'}",,,
292,YEM,YE,"Yemen, Rep.","{'id': 'MEA', 'iso2code': 'ZQ', 'value': 'Midd...","{'id': 'MNA', 'iso2code': 'XQ', 'value': 'Midd...","{'id': 'LIC', 'iso2code': 'XM', 'value': 'Low ...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Sana'a,44.2075,15.352
293,ZAF,ZA,South Africa,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'UMC', 'iso2code': 'XT', 'value': 'Uppe...","{'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}",Pretoria,28.1871,-25.746
294,ZMB,ZM,Zambia,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'}",Lusaka,28.2937,-15.3982
295,ZWE,ZW,Zimbabwe,"{'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-...","{'id': 'SSA', 'iso2code': 'ZF', 'value': 'Sub-...","{'id': 'LMC', 'iso2code': 'XN', 'value': 'Lowe...","{'id': 'IDB', 'iso2code': 'XH', 'value': 'Blend'}",Harare,31.0672,-17.8312

In [6]:
countries['region'] = countries['region'].apply(lambda x: x['value'])

In [7]:
countries['incomeLevel'] = countries['incomeLevel'].apply(lambda x:x['value'])

In [8]:
countries['lendingType'] = countries['lendingType'].apply(lambda x:x['value'])

In [10]:
countries.drop(columns=["adminregion", "capitalCity"], inplace=True)

In [19]:
countries.rename(columns={'iso2Code':'country_id'},inplace=True)

In [11]:
countries

,id,iso2Code,name,region,incomeLevel,lendingType,longitude,latitude
0,ABW,AW,Aruba,Latin America & Caribbean,High income,Not classified,-70.0167,12.5167
1,AFE,ZH,Africa Eastern and Southern,Aggregates,Aggregates,Aggregates,,
2,AFG,AF,Afghanistan,"Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA,69.1761,34.5228
3,AFR,A9,Africa,Aggregates,Aggregates,Aggregates,,
4,AFW,ZI,Africa Western and Central,Aggregates,Aggregates,Aggregates,,
...,...,...,...,...,...,...,...,...
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,Aggregates,Aggregates,,
292,YEM,YE,"Yemen, Rep.","Middle East, North Africa, Afghanistan & Pakistan",Low income,IDA,44.2075,15.352
293,ZAF,ZA,South Africa,Sub-Saharan Africa,Upper middle income,IBRD,28.1871,-25.746
294,ZMB,ZM,Zambia,Sub-Saharan Africa,Lower middle income,IDA,28.2937,-15.3982
295,ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend,31.0672,-17.8312

In [12]:
countries[countries['region'] == "Aggregates"]

,id,iso2Code,name,region,incomeLevel,lendingType,longitude,latitude
1,AFE,ZH,Africa Eastern and Southern,Aggregates,Aggregates,Aggregates,,
3,AFR,A9,Africa,Aggregates,Aggregates,Aggregates,,
4,AFW,ZI,Africa Western and Central,Aggregates,Aggregates,Aggregates,,
8,ARB,1A,Arab World,Aggregates,Aggregates,Aggregates,,
18,BEA,B4,East Asia & Pacific (IBRD-only countries),Aggregates,Aggregates,Aggregates,,
...,...,...,...,...,...,...,...,...
269,TSA,T5,South Asia (IDA & IBRD),Aggregates,Aggregates,Aggregates,,
270,TSS,T6,Sub-Saharan Africa (IDA & IBRD countries),Aggregates,Aggregates,Aggregates,,
278,UMC,XT,Upper middle income,Aggregates,Aggregates,Aggregates,,
288,WLD,1W,World,Aggregates,Aggregates,Aggregates,,
291,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,Aggregates,Aggregates,,

In [13]:
indicator_url = "https://api.worldbank.org/v2/indicators?format=json"
response = requests.get(indicator_url)
response.status_code

200

In [14]:
indicators_data = response.json()
print(indicators_data[0])
print(len(indicators_data))

{'page': 1, 'pages': 587, 'per_page': '50', 'total': 29323}
2

In [15]:
url = f"https://api.worldbank.org/v2/indicators?format=json&per_page=500&page={61}"
response = requests.get(url)
data = response.json()

In [16]:
all_dfs = []

page = 1
page_available_data = True
while page_available_data:
  url = f"https://api.worldbank.org/v2/indicators?format=json&per_page=500&page={page}"
  response = requests.get(url)
  if response.status_code == 200:
    data = response.json()

    if len(data) < 2:
      print(f"No data found for page {page}")
      continue
    
    if not data[1]:
      page_available_data = False

    indicators = data[1]
    df = pd.DataFrame([{"id": item['id'], "name":item['name']} for item in indicators])
    all_dfs.append(df)
    print(f"Page{page}: {len(df)} indicators collected")
    
    page += 1
  else:
    print(f"Failed to fetch data for page {page}. Status code: {response.status_code}")

Page1: 500 indicators collected
Page2: 500 indicators collected
Page3: 500 indicators collected
Page4: 500 indicators collected
Page5: 500 indicators collected
Page6: 500 indicators collected
Page7: 500 indicators collected
Page8: 500 indicators collected
Page9: 500 indicators collected
Page10: 500 indicators collected
Page11: 500 indicators collected
Page12: 500 indicators collected
Page13: 500 indicators collected
Page14: 500 indicators collected
Page15: 500 indicators collected
Page16: 500 indicators collected
Page17: 500 indicators collected
Page18: 500 indicators collected
Page19: 500 indicators collected
Page20: 500 indicators collected
Page21: 500 indicators collected
Page22: 500 indicators collected
Page23: 500 indicators collected
Page24: 500 indicators collected
Page25: 500 indicators collected
Page26: 500 indicators collected
Page27: 500 indicators collected
Page28: 500 indicators collected
Page29: 500 indicators collected
Page30: 500 indicators collected
Page31: 500 indicators collected
Page32: 500 indicators collected
Page33: 500 indicators collected
Page34: 500 indicators collected
Page35: 500 indicators collected
Page36: 500 indicators collected
Page37: 500 indicators collected
Page38: 500 indicators collected
Page39: 500 indicators collected
Page40: 500 indicators collected
Page41: 500 indicators collected
Page42: 500 indicators collected
Page43: 500 indicators collected
Page44: 500 indicators collected
Page45: 500 indicators collected
Page46: 500 indicators collected
Page47: 500 indicators collected
Page48: 500 indicators collected
Page49: 500 indicators collected
Page50: 500 indicators collected
Page51: 500 indicators collected
Page52: 500 indicators collected
Page53: 500 indicators collected
Page54: 500 indicators collected
Page55: 500 indicators collected
Page56: 500 indicators collected
Page57: 500 indicators collected
Page58: 500 indicators collected
Page59: 323 indicators collected
Page60: 0 indicators collected

In [16]:
all_dfs = []

for page in range(1,100):
  url = f"https://api.worldbank.org/v2/indicators?format=json&per_page=500&page={page}"
  response = requests.get(url)
  if response.status_code == 200:
    data = response.json()

    if len(data) < 2:
      print(f"No data found for page {page}")
      continue
    
    if not data[1]:
      continue
    
    indicators = data[1]
    df = pd.DataFrame([{"id": item['id'], "name":item['name']} for item in indicators])
    all_dfs.append(df)
    print(f"Page{page}: {len(df)} indicators collected")
  else:
    print(f"Failed to fetch data for page {page}. Status code: {response.status_code}")

Page1: 500 indicators collected
Page2: 500 indicators collected
Page3: 500 indicators collected
Page4: 500 indicators collected
Page5: 500 indicators collected
Page6: 500 indicators collected
Page7: 500 indicators collected
Page8: 500 indicators collected
Page9: 500 indicators collected
Page10: 500 indicators collected
Page11: 500 indicators collected
Page12: 500 indicators collected
Page13: 500 indicators collected
Page14: 500 indicators collected
Page15: 500 indicators collected
Page16: 500 indicators collected
Page17: 500 indicators collected
Page18: 500 indicators collected
Page19: 500 indicators collected
Page20: 500 indicators collected
Page21: 500 indicators collected
Page22: 500 indicators collected
Page23: 500 indicators collected
Page24: 500 indicators collected
Page25: 500 indicators collected
Page26: 500 indicators collected
Page27: 500 indicators collected
Page28: 500 indicators collected
Page29: 500 indicators collected
Page30: 500 indicators collected
Page31: 500 indicators collected
Page32: 500 indicators collected
Page33: 500 indicators collected
Page34: 500 indicators collected
Page35: 500 indicators collected
Page36: 500 indicators collected
Page37: 500 indicators collected
Page38: 500 indicators collected
Page39: 500 indicators collected
Page40: 500 indicators collected
Page41: 500 indicators collected
Page42: 500 indicators collected
Page43: 500 indicators collected
Page44: 500 indicators collected
Page45: 500 indicators collected
Page46: 500 indicators collected
Page47: 500 indicators collected
Page48: 500 indicators collected
Page49: 500 indicators collected
Page50: 500 indicators collected
Page51: 500 indicators collected
Page52: 500 indicators collected
Page53: 500 indicators collected
Page54: 500 indicators collected
Page55: 500 indicators collected
Page56: 500 indicators collected
Page57: 500 indicators collected
Page58: 500 indicators collected
Page59: 323 indicators collected

KeyboardInterrupt:

In [17]:
final_df = pd.concat(all_dfs, ignore_index=True)

In [18]:
final_df

                         id                                               name
0        1.0.HCount.1.90usd                    Poverty Headcount ($1.90 a day)
1         1.0.HCount.2.5usd                    Poverty Headcount ($2.50 a day)
2      1.0.HCount.Mid10to50              Middle Class ($10-50 a day) Headcount
3           1.0.HCount.Ofcl            Official Moderate Poverty Rate-National
4       1.0.HCount.Poor4uds                       Poverty Headcount ($4 a day)
...                     ...                                                ...
29318    ytil_some_dfcl_all  Youth idle rate (% of persons with some degree...
29319    ytil_some_dfcl_fem  Youth idle rate (% of female persons with some...
29320   ytil_some_dfcl_male  Youth idle rate (% of male persons with some d...
29321    ytil_some_dfcl_rur  Youth idle rate (% of persons living in rural ...
29322    ytil_some_dfcl_urb  Youth idle rate (% of persons living in urban ...

[29323 rows x 2 columns]

In [18]:
final_df.to_csv("final_df.csv")

In [21]:
indicator_groups = {
"economic_activity_growth": [
    "NY.GDP.MKTP.KD.ZG",   # GDP growth (annual %)
    "NY.GDP.PCAP.CD",     # GDP per capita (current US$)
    "NY.GDP.MKTP.CD",     # GDP (current US$)
    "FP.CPI.TOTL.ZG",     # Inflation, consumer prices (annual %)
    "NE.GDI.TOTL.ZS"      # Gross capital formation (% of GDP)
],
"labour_market_indicators": [
    "SL.UEM.TOTL.ZS",     # Unemployment total (%)
    "SL.UEM.1524.ZS",     # Youth unemployment (%)
    "SL.TLF.TOTL.IN",    # Labour force, total
    "SL.TLF.CACT.ZS",    # Labor force participation rate (%)
    "SL.EMP.TOTL.SP.ZS"  # Employment to population ratio (%)
],
"trade_globalization": [
    "NE.EXP.GNFS.CD",     # Exports (current US$)
    "NE.IMP.GNFS.CD",     # Imports (current US$)
    "NE.TRD.GNFS.ZS",     # Trade (% of GDP)
    "BN.CAB.XOKA.GD.ZS"   # Current account balance (% of GDP)
],
"poverty_inequality": [
    "SI.POV.NAHC",        # Poverty headcount ratio (%)
    "SI.POV.GINI",        # Gini index
    "SI.POV.GAPS",        # Poverty gap (%)
    "SI.DST.10TH.10"      # Income share held by lowest 10%
],
"environmental_indicators": [
    "EG.FEC.RNEW.ZS",     # Renewable energy consumption (%)
    "AG.LND.FRST.ZS",     # Forest area (%)
    "EN.ATM.CO2E.PC",    # CO2 emissions (metric tons per capita)
    "EG.USE.PCAP.KG.OE"  # Energy use (kg of oil equivalent per capita)
],
"health_indicators": [
    "SP.DYN.LE00.IN",     # Life expectancy
    "SP.DYN.IMRT.IN",     # Infant mortality rate
    "SH.H20.BASW.ZS",     # Basic water access (%)
    "SH.XPD.CHEX.GD.ZS",  # Health expenditure (% of GDP)
    "SH.IMM.IDPT",        # DPT immunization (%)
    "SH.IMM.MEAS",        # Measles immunization (%)
    "SH.STA.MMRT",        # Maternal mortality ratio
    "SH.STA.BRTC.ZS",     # Skilled birth attendance (%)
    "SN.ITK.DEFC.ZS",     # Prevalence of undernourishment (%)
    "SP.DYN.CDRT.IN"     # Crude death rate
],

"technology_indicators": [
    "IT.NET.USER.ZS",     # Internet users (%)
    "IT.CEL.SETS.P2",     # Mobile subscriptions (per 100 people)
    "IT.BRD.BBND.P2",     # Fixed broadband subscriptions (per 100 people)
    "TX.VAL.ICTG.ZS"      # ICT goods exports (% of total goods exports)
],
"education_indicators": [
    "SE.ADT.LITR.ZS",      # Literacy rate, adult total (% of people ages 15+)
    "SE.PRM.ENRR",         # Primary school enrollment, gross (%)
    "SE.SEC.ENRR",         # Secondary school enrollment, gross (%)
    "SE.TER.ENRR",         # Tertiary school enrollment, gross (%)
    "SE.PRM.CMPT.ZS",      # Primary completion rate (% of relevant age group)
    "SE.SEC.CMPT.LO.ZS",   # Lower secondary completion rate (%)
    "SE.XPD.TOTL.GD.ZS",   # Government expenditure on education (% of GDP)
    "HD.HCI.OVRL"          # Human Capital Index
]


}

In [22]:
import time
from concurrent.futures import ThreadPoolExecutor, as_completed
category_dataframes={}

# total_pages=0
def fetch_data_for_indicator(indicators):
   

    
    base_url = "https://api.worldbank.org/countries/all/indicators/{}?format=json&per_page=1000&page={}"
    
    all_dfs_for_category=[]

    for indicator_code in indicators:
        print(f"Fetching data for indicator: {indicator_code}")
        page=1

        while True:
            url = base_url.format(indicator_code, page)
            response = requests.get(url, timeout=7)
            if response.status_code == 200:
                if len(response.json()) < 2:
                    print(f"No data found for indicator: {indicator_code}")
                    break
                data = response.json()
                total_pages = data[0]['pages']
                indicators_data = data[1]
                df = pd.json_normalize(indicators_data)
                df = df[[
                    "country.id",
                    "country.value",
                    "indicator.id",
                    "indicator.value",
                    "date",
                    "value"
                ]].rename(columns={
                    "country.id": "country_id",
                    "country.value": "country_name",
                    "indicator.id": "indicator_id",
                    "indicator.value": "indicator_name",
                    "date": "year"
                })

                df = df[df["year"].astype(int)>2000]
                all_dfs_for_category.append(df)

                if page >= total_pages:
                    break
                page += 1
                time.sleep(1)
                
               

            else:
                print(f"Failed to fetch data for indicator: {indicator_code}. Status code: {response.status_code}")


    return all_dfs_for_category

with ThreadPoolExecutor(max_workers=10) as executor:
    futures = {executor.submit(fetch_data_for_indicator, indicators): category  for category, indicators in indicator_groups.items()}
    for future in as_completed(futures):
        category = futures[future]
        all_dfs_for_category = future.result()


        if all_dfs_for_category:
            category_df = pd.concat(all_dfs_for_category, ignore_index=True)
            category_dataframes[category] = category_df
            print(f"Total rows collected for {category}: {len(category_df)}")
        else:
            print(f"No data collected for {category}")

Fetching data for indicator: NY.GDP.MKTP.KD.ZG
Fetching data for indicator: SL.UEM.TOTL.ZS
Fetching data for indicator: NE.EXP.GNFS.CD
Fetching data for indicator: SI.POV.NAHC
Fetching data for indicator: EG.FEC.RNEW.ZS
Fetching data for indicator: SP.DYN.LE00.IN
Fetching data for indicator: IT.NET.USER.ZS
Fetching data for indicator: SE.ADT.LITR.ZS
Fetching data for indicator: AG.LND.FRST.ZS
Fetching data for indicator: SP.DYN.IMRT.IN
Fetching data for indicator: IT.CEL.SETS.P2
Fetching data for indicator: NE.IMP.GNFS.CD
Fetching data for indicator: SI.POV.GINI
Fetching data for indicator: NY.GDP.PCAP.CD
Fetching data for indicator: SL.UEM.1524.ZS
Fetching data for indicator: EN.ATM.CO2E.PC
Fetching data for indicator: SH.H20.BASW.ZS
Fetching data for indicator: NE.TRD.GNFS.ZS
Fetching data for indicator: IT.BRD.BBND.P2
No data found for indicator: EN.ATM.CO2E.PC
Fetching data for indicator: EG.USE.PCAP.KG.OE
No data found for indicator: SH.H20.BASW.ZS
Fetching data for indicator: SH.XPD.CHEX.GD.ZS
No data found for indicator: IT.BRD.BBND.P2
Fetching data for indicator: TX.VAL.ICTG.ZS
Fetching data for indicator: SI.POV.GAPS
Fetching data for indicator: NY.GDP.MKTP.CD
Fetching data for indicator: SL.TLF.TOTL.IN
No data found for indicator: TX.VAL.ICTG.ZS
Fetching data for indicator: SH.IMM.IDPT
Fetching data for indicator: SL.TLF.CACT.ZS
Failed to fetch data for indicator: SL.TLF.CACT.ZS. Status code: 400
Fetching data for indicator: FP.CPI.TOTL.ZG
Fetching data for indicator: SI.DST.10TH.10
Fetching data for indicator: BN.CAB.XOKA.GD.ZS
Fetching data for indicator: SH.IMM.MEAS
Fetching data for indicator: NE.GDI.TOTL.ZS
Fetching data for indicator: SL.EMP.TOTL.SP.ZS
Fetching data for indicator: SH.STA.MMRT
Fetching data for indicator: SH.STA.BRTC.ZS
Fetching data for indicator: SN.ITK.DEFC.ZS

ReadTimeout: HTTPSConnectionPool(host='api.worldbank.org', port=443): Read timed out. (read timeout=7)

In [23]:
import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

def create_session():
    session = requests.Session()
    retries = Retry(
        total=5,
        backoff_factor=1.5,
        status_forcelist=[429, 500, 502, 503, 504],
        allowed_methods=["GET"]
    )
    adapter = HTTPAdapter(max_retries=retries)
    session.mount("https://", adapter)
    return session

In [24]:
from concurrent.futures import ThreadPoolExecutor, as_completed

import time
import pandas as pd

def fetch_data_for_indicator(indicators):
    session = create_session()
    base_url = "https://api.worldbank.org/v2/country/all/indicator/{}"
    
    all_dfs_for_category = []

    for indicator_code in indicators:
        print(f"Fetching indicator: {indicator_code}")
        page = 1

        while True:
            params = {
                "format": "json",
                "per_page": 1000,
                "page": page
            }

            try:
                response = session.get(
                    base_url.format(indicator_code),
                    params=params,
                    timeout=30
                )

                data = response.json()

                if len(data) < 2 or data[1] is None:
                    break

                meta, records = data
                total_pages = meta["pages"]

                df = pd.json_normalize(records)
                df = df[[
                    "country.id",
                    "country.value",
                    "indicator.id",
                    "indicator.value",
                    "date",
                    "value"
                ]].rename(columns={
                    "country.id": "country_id",
                    "country.value": "country_name",
                    "indicator.id": "indicator_id",
                    "indicator.value": "indicator_name",
                    "date": "year"
                })

                df["year"] = df["year"].astype(int)
                df = df[df["year"] > 2000]

                all_dfs_for_category.append(df)

                if page >= total_pages:
                    break

                page += 1
                time.sleep(0.5)  # IMPORTANT: be kind to the API

            except Exception as e:
                print(f"Error fetching {indicator_code}, page {page}: {e}")
                break

    return all_dfs_for_category




category_dataframes = {}

with ThreadPoolExecutor(max_workers=3) as executor:  # ⬅️ reduce threads
    futures = {
        executor.submit(fetch_data_for_indicator, indicators): category
        for category, indicators in indicator_groups.items()
    }

    for future in as_completed(futures):
        category = futures[future]
        all_dfs_for_category = future.result()

        if all_dfs_for_category:
            category_df = pd.concat(all_dfs_for_category, ignore_index=True)
            category_dataframes[category] = category_df
            print(f"Total rows collected for {category}: {len(category_df)}")
        else:
            print(f"No data collected for {category}")

Fetching indicator: NY.GDP.MKTP.KD.ZG
Fetching indicator: SL.UEM.TOTL.ZS
Fetching indicator: NE.EXP.GNFS.CD
Fetching indicator: NE.IMP.GNFS.CD
Fetching indicator: SL.UEM.1524.ZS
Fetching indicator: NY.GDP.PCAP.CD
Fetching indicator: NY.GDP.MKTP.CD
Fetching indicator: SL.TLF.TOTL.IN
Fetching indicator: FP.CPI.TOTL.ZG
Fetching indicator: NE.TRD.GNFS.ZS
Fetching indicator: NE.GDI.TOTL.ZS
Fetching indicator: BN.CAB.XOKA.GD.ZS
Fetching indicator: SI.POV.NAHC
Total rows collected for economic_activity_growth: 31920
Fetching indicator: SL.TLF.CACT.ZS
Fetching indicator: EG.FEC.RNEW.ZS
Total rows collected for trade_globalization: 25536

C:\Users\soura\AppData\Local\Temp\ipykernel_23656\1437956109.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  category_df = pd.concat(all_dfs_for_category, ignore_index=True)

Fetching indicator: SL.EMP.TOTL.SP.ZS
Fetching indicator: AG.LND.FRST.ZS
Fetching indicator: EN.ATM.CO2E.PC
Fetching indicator: EG.USE.PCAP.KG.OE
Fetching indicator: SP.DYN.LE00.IN
Total rows collected for labour_market_indicators: 31920
Fetching indicator: SI.POV.GINI
Fetching indicator: IT.NET.USER.ZS
Total rows collected for environmental_indicators: 19152
Fetching indicator: SP.DYN.IMRT.IN
Fetching indicator: SI.POV.GAPS
Error fetching SI.POV.GAPS, page 5: Expecting value: line 1 column 1 (char 0)
Fetching indicator: SI.DST.10TH.10
Error fetching SI.DST.10TH.10, page 7: Expecting value: line 1 column 1 (char 0)
Fetching indicator: SE.ADT.LITR.ZS
Total rows collected for poverty_inequality: 16484

C:\Users\soura\AppData\Local\Temp\ipykernel_23656\1437956109.py:87: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  category_df = pd.concat(all_dfs_for_category, ignore_index=True)

Fetching indicator: IT.CEL.SETS.P2
Fetching indicator: SH.H20.BASW.ZS
Fetching indicator: SH.XPD.CHEX.GD.ZS
Fetching indicator: SE.PRM.ENRR
Fetching indicator: IT.BRD.BBND.P2
Fetching indicator: TX.VAL.ICTG.ZS
Total rows collected for technology_indicators: 12768
Fetching indicator: SH.IMM.IDPT
Fetching indicator: SE.SEC.ENRR
Fetching indicator: SH.IMM.MEAS
Fetching indicator: SE.TER.ENRR
Fetching indicator: SH.STA.MMRT
Fetching indicator: SE.PRM.CMPT.ZS
Fetching indicator: SH.STA.BRTC.ZS
Fetching indicator: SE.SEC.CMPT.LO.ZS
Fetching indicator: SN.ITK.DEFC.ZS
Fetching indicator: SP.DYN.CDRT.IN
Fetching indicator: SE.XPD.TOTL.GD.ZS
Fetching indicator: HD.HCI.OVRL
Total rows collected for education_indicators: 47075
Total rows collected for health_indicators: 57456

In [25]:
economic_activity= category_dataframes.get("economic_activity_growth", pd.DataFrame())
labour_market_jobs= category_dataframes.get("labour_market_indicators", pd.DataFrame())
trade_globalization= category_dataframes.get("trade_globalization", pd.DataFrame())
poverty_inequality= category_dataframes.get("poverty_inequality", pd.DataFrame())
environmental_indicators= category_dataframes.get("environmental_indicators", pd.DataFrame())
health_indicators= category_dataframes.get("health_indicators", pd.DataFrame())
technology_indicators= category_dataframes.get("technology_indicators", pd.DataFrame())
education_indicators = category_dataframes.get("education_indicators", pd.DataFrame())

In [26]:
economic = pd.merge(economic_activity, countries, on="country_id", how="inner")
labour_market = pd.merge(labour_market_jobs, countries, on="country_id", how="inner")
trade = pd.merge(trade_globalization, countries, on="country_id", how="inner")
poverty = pd.merge(poverty_inequality, countries, on="country_id", how="inner")
environment = pd.merge(environmental_indicators, countries, on="country_id", how="inner")
health = pd.merge(health_indicators, countries, on="country_id", how="inner")
technology = pd.merge(technology_indicators, countries, on="country_id", how="inner")
education = pd.merge(education_indicators, countries, on="country_id", how="inner")

In [27]:
economic.drop(columns=["indicator_id","name","id"], inplace=True)
labour_market.drop(columns=["indicator_id","name","id"], inplace=True)
trade.drop(columns=["indicator_id","name","id"], inplace=True)
poverty.drop(columns=["indicator_id","name","id"], inplace=True)
environment.drop(columns=["indicator_id","name","id"], inplace=True)
health.drop(columns=["indicator_id","name","id"], inplace=True)
technology.drop(columns=["indicator_id","name","id"], inplace=True)
education.drop(columns=["indicator_id","name","id"], inplace=True)

In [28]:
import os

folder_name = 'world_bank_data'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f"Folder '{folder_name}' created.")
else:
    print(f"Folder '{folder_name}' already exists.")

Folder 'world_bank_data' already exists.

In [29]:
economic.to_csv(os.path.join(folder_name, 'economic.csv'), index=False)
print("'economic.csv' saved successfully.")

'economic.csv' saved successfully.

In [30]:
labour_market.to_csv(os.path.join(folder_name, 'labour_market.csv'), index=False)
print("'labour_market.csv' saved successfully.")

'labour_market.csv' saved successfully.

In [31]:
trade.to_csv(os.path.join(folder_name, 'trade.csv'), index=False)
print("'trade.csv' saved successfully.")

'trade.csv' saved successfully.

In [32]:
poverty.to_csv(os.path.join(folder_name, 'poverty.csv'), index=False)
print("'poverty.csv' saved successfully.")

'poverty.csv' saved successfully.

In [33]:
environment.to_csv(os.path.join(folder_name, 'environment.csv'), index=False)
print("'environment.csv' saved successfully.")

'environment.csv' saved successfully.

In [34]:
health.to_csv(os.path.join(folder_name, 'health.csv'), index=False)
print("'health.csv' saved successfully.")

'health.csv' saved successfully.

In [35]:
technology.to_csv(os.path.join(folder_name, 'technology.csv'), index=False)
print("'technology.csv' saved successfully.")

'technology.csv' saved successfully.

In [36]:
education.to_csv(os.path.join(folder_name, 'education.csv'), index=False)
print("'education.csv' saved successfully.")

'education.csv' saved successfully.

In [39]:
economic.indicator_name.unique()

array(['GDP growth (annual %)', 'GDP per capita (current US$)',
       'GDP (current US$)', 'Inflation, consumer prices (annual %)',
       'Gross capital formation (% of GDP)'], dtype=object)

In [43]:
df = economic[(economic['indicator_name'] == 'GDP (current US$)') & (economic['incomeLevel'] != 'Aggregates') ]

In [ ]:
df[df["country_name"] == "India"]['value']

np.float64(1932606433143.045)

In [1]:
import pandas as pd

df = pd.read_csv('./world_bank_data/economic.csv')
df.head()

,country_id,country_name,indicator_name,year,value,region,incomeLevel,lendingType,longitude,latitude
0,ZH,Africa Eastern and Southern,GDP growth (annual %),2024,2.763839,Aggregates,Aggregates,Aggregates,NaN,NaN
1,ZH,Africa Eastern and Southern,GDP growth (annual %),2023,1.931160,Aggregates,Aggregates,Aggregates,NaN,NaN
2,ZH,Africa Eastern and Southern,GDP growth (annual %),2022,3.722717,Aggregates,Aggregates,Aggregates,NaN,NaN
3,ZH,Africa Eastern and Southern,GDP growth (annual %),2021,4.578772,Aggregates,Aggregates,Aggregates,NaN,NaN
4,ZH,Africa Eastern and Southern,GDP growth (annual %),2020,-2.817572,Aggregates,Aggregates,Aggregates,NaN,NaN

In [3]:
df['region'].unique()

array(['Aggregates', 'Middle East, North Africa, Afghanistan & Pakistan',
       'Europe & Central Asia', 'East Asia & Pacific',
       'Sub-Saharan Africa ', 'Latin America & Caribbean ', 'South Asia',
       'North America'], dtype=object)